.padding-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.margin-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.letter-big{
	font-size: 26px;
}
.letter-blue{
	color: #337AB7;
}
.letter-white{
  color: #FFF;
}
.gridStyle {
    border: 1px solid #0094DC;
    width: 100%; 
    /*height: 400px;*/
     height: 60vh;
}
.grid-align-left{
	text-align: right;
}
.padding-20-xy{
	padding-left: 20px;
	padding-right: 20px;
}
.border-1{
	border: 1px solid #337AB7;
	padding: 10px;
}
.border-1-white{
  border: 1px solid #FFF;
  padding: 10px;
}
.hover-fila:hover, focus, active{
	background: #D5E3F0;
	color: #fff;
}
.red{
	background: #D5E3F0;
	color: #fff;
}
.padding-10-xy{
	padding-left: 10px;
	padding-right: 10px;
}
.width-150{
	width: 150px;
}
.width-250{
	width: 250px;
}
.hide{
	display: none;
}
.letter-red{
	color: red;
}
.overflow-y{
	overflow-y:auto;
}
.overflow-x{
	overflow-x:auto;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 60vh;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.table-fixed tbody > tr{
	height: 37px;	
}
.width_1{
	width: 1017px;
}
.width_11{
	width: 242.5px;
}
.width_12{
	width: 414.833px;
}
.width_13{
	width: 327.667px;
}
.padding-0-xy{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-blue{
	background: #337AB7;
}
.navbar-blue a{
	color: #fff;
}
.nav-blue > li > a:focus, .nav-blue > li > a:hover, .nav-blue > li > a:active {

    background: #D5E3F0;
    color: #337AB7;

}
.letter-white{
	color: #fff;
}
.button-blue{
	background: #337AB7;
}
.button-blue span{
	background: #fff;
}
.dropdown-menu-fondo-blanco li {
	background: #fff;
}
.cursor-hand{
	cursor: hand;
}
.align_left{
	text-align: left;
}
.altura_tabla{
	height: 50vh;
}
.background-blue{
	background: #377BB5;
} 
.letter-white{
	color: #fff;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
#ui-datepicker-div{
  z-index: 999999 !important;
}
/*tabla head block*/
p.fixed-table-scroll-inner {
    width: 100%;
    height: 200px;
}

div.fixed-table-scroll-outer {
    top: 0;
    left: 0;
    visibility: hidden;
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.table-container {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-container-header {
   overflow: hidden;
    width: 100%;    
}

.table-container-body {
    height: 28vh;
    overflow: auto;
    width: 100%;
}

.table-container-footer {
    overflow: hidden;
    width: 100%;
}

.table-container table {
    margin-bottom: 0px;
    table-layout: fixed;
}

.table-container table td,
.table-container table th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-bordered {
      border: 0px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border-top-width: 2px;
}
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border-bottom-width: 0px;
}
/*Esquerda*/
.table-bordered > thead > tr > th:first-child,
.table-bordered > tbody > tr > th:first-child,
.table-bordered > tfoot > tr > th:first-child,
.table-bordered > thead > tr > td:first-child,
.table-bordered > tbody > tr > td:first-child,
.table-bordered > tfoot > tr > td:first-child {
  border-left-width: 0px;
}
/*Direita*/
.table-bordered > thead > tr > th:last-child,
.table-bordered > tbody > tr > th:last-child,
.table-bordered > tfoot > tr > th:last-child,
.table-bordered > thead > tr > td:last-child,
.table-bordered > tbody > tr > td:last-child,
.table-bordered > tfoot > tr > td:last-child {
  border-right-width: 0px;
}
/*Topo*/
.table-bordered > thead > tr:first-child > th,
.table-bordered > thead > tr:first-child > td {
  border-top-width: 0px;
}
/*Baixo*/
.table-bordered > tfoot > tr:last-child > th,
.table-bordered > tfoot > tr:last-child > td {
  border-bottom-width: 0px;
}
/*Border none*/
.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.clear{
	clear: both;
}
.nav>li>div {
    position: relative;
    display: block;
    padding: 10px 16px;
    height: 50px;
}

.navbar-nav>li>div {
    padding-top: 16px;
    padding-bottom: 10px;
    line-height: 20px;
    height: 50px;
}
.navbar-blue div {
    color: #fff;
}


