<div class="col-md-12">
	<div class="col-md-12 text-center">LIBRO DE VENTAS IVA</div>
	<div class="col-md-12 text-center margin-20">PERIODO FISCAL <input type="text" name="" value="enero"><input type="text" name="" value="2012"></div>

	<div class="col-md-8 margin-20">NOMBRE O RAZON SOCIAL <input type="text" name="" class="text-center" value="TRIBUTO TODO SRL."></div>
	<div class="col-md-4 margin-20">NIT <input type="text" name="" class="text-center" value="69594901"></div>
	<div class="col-md-12 margin-20">DIRECCION <input type="text" name="" value="Landaeta entre la 20 de Octubre"></div>

	<div class="col-md-12 table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th colspan="8" class="text-center border-1-white background-blue letter-white"></th>
					<th colspan="5" class="text-center border-1-white background-blue letter-white">CIFRAS EN BOLIVIANOS</th>
				</tr>
				<tr>
					<th colspan="3" class="text-center border-1-white background-blue letter-white">FECHA</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">Nro. NIT DEL COMPRADOR</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">NOMBRE O RAZON SOCIAL DEL COMPRADOR</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">Nro. DE FACTURA</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">Nro. DE AUTORIZACION</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">CODIGO DE CONTROL</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">TOTAL FACTURA (A)</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">TOTAL I.C.E. (B)</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">IMPORTES EXENTOS "C"</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">IMPORTE NETO (A B C)</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">CREDITO FISCAL IVA</th>
				</tr>
				<tr>
					<th class="text-center border-1-white background-blue letter-white">D</th>
					<th class="text-center border-1-white background-blue letter-white">M</th>
					<th class="text-center border-1-white background-blue letter-white">A</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="border-1">10</td>
					<td class="border-1">1</td>
					<td class="border-1">2012</td>
					<td class="border-1">65893254</td>
					<td class="border-1">Sr. Jaime Zenteno</td>
					<td class="border-1">1</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1">50.000.00</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1">6.500.0</td>
				</tr>
				<tr>
					<td class="border-1">20</td>
					<td class="border-1">1</td>
					<td class="border-1">2012</td>
					<td class="border-1">65893254</td>
					<td class="border-1">Sr. Bolita</td>
					<td class="border-1">3</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1">147000</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1">19.110.0</td>
				</tr>
				<tr>
					<td class="border-1">1</td>
					<td class="border-1">10</td>
					<td class="border-1">2012</td>
					<td class="border-1">32541895</td>
					<td class="border-1">Sr. picapiedra</td>
					<td class="border-1">4</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1">11.223.33</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1">1459.000.00</td>
				</tr>

				<tr>
					<td rowspan="2" colspan="3" class="border-1">CI</td>
					<td rowspan="2" colspan="3" class="border-1">Nombre completo</td>
					<td colspan="2">Totales parciales</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
				</tr>
				<tr>
					<td colspan="2" class="border-1">Totales generales</td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
					<td class="border-1"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>