<div class="col-md-12 text-right"><button id="boton_atras" class="btn btn_afirmativo" ng-click="guardar()" title="Guardar"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button></div>
<div class="col-md-12">
	<div class="border-1 col-md-12">
	<form class="form-group">
	<div class="col-md-6 text-center letter-big letter-blue">LIBRO DIARIO</div>
	<div class="col-md-2">Asiento: <br><input type="text" name="asiento" class="form-control" readonly="readonly" ng-model="nro_asiento"></div>
	<div class="col-md-2">Nro. de comprobante:  <br><input type="text" name="numero_comprobante" class="form-control" readonly="readonly" ng-model="nro_comprobante"></div>
  <div class="col-md-2">
    Moneda de cambio:  <br>
    <select class="form-control" ng-options="option.tipo_moneda for option in dataMoneda track by option.idMoneda" ng-model="selectedMoneda" ng-change="hasChangedMoneda()"></select>
  </div>


	<div class="col-md-2">Dec. contable: <br> 
    <select class="form-control" ng-options="option.value for option in selectDecContable track by option.id" ng-model="selectedDecContable" ng-change="hasChangedDecContableo()"></select>
	</div>
	<div class="col-md-2">Fecha: <br> 
	<div class='' >
  					<!--<p>{{datePicker || "00/00/0000"}}</p>-->
  					<input class="form-control fecha_comprobante" type="text" ng-model="fecha_ld" placeholder="Presione"  readonly="readonly" ng-value="fechaUsuario" />
				</div></div>
	<div class="col-md-4">Tipo Cambio(venta): 
    
    <br> 

    <div id="adicionarTipoCambio_1" class="input-group z-index-fondo">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit" ng-click="adicionarTipoCambio()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
      <select class="form-control" ng-options="option.tc_venta for option in dataTipoCambio track by option.idtipocambio" ng-model="selectedTipoCambio" ng-change="hasChangedTipoCambio()"></select> <span class="input-group-addon">Bs.</span>
    </div>

    <div id="adicionarTipoCambio_2" class="input-group hide">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit" ng-click="actionTipoCambio()">
          <i class="glyphicon glyphicon-ok"></i>
        </button>
      </div>
      <input type="text" name="" ng-model="valorTipoCambio" class="form-control" placeholder="Escriba nuevo valor en Bs. ">
      <div class="input-group-btn">
        <button class="btn btn-danger" type="submit" ng-click="cancelarAdicionarTipoCambio()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </div>
  </div>

	<div class="col-md-2 {{hide_traspaso}}">Recibido por: <br> <input type="text" name="titular" ng-model="recibido_por" class="form-control"></div>
	<div class="col-md-2">NIT/CI: <br> <input type="text" name="nit_ci" class="form-control" ng-model="nit_ci"></div>
	<div class="col-md-2">Nro. Recibo: <br> <input type="text" name="numero_recibo" class="form-control" ng-model="nro_recibo"></div>
  <div class="col-md-2">
    Tipo de Pago:  <br>
    <select class="form-control" ng-options="option.nom_tp for option in dataTipoPago track by option.idTipoPago" ng-model="selectedTipoPago" ng-change="hasChangedTipoPago()"></select>
  </div>
	<div class="col-md-12">Glosa: <br> <input type="text" name="" class="form-control" ng-model="glosa"></div>
	</form>
	</div>


	<div class="clear"></div>


	<div class="table-container">
   		<div class="table-container-header">
      		<table class="table table-striped table-hover table-condensed table-bordered">
         		<thead>
            		<tr>
            			<th style="width: 50px;" class="background-blue letter-white text-center"></th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">Código</th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">Nombre de cuenta</th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">Debe (Bs.)</th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">Haber (Bs.)</th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">Debe ($us.)</th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">haber ($us.)</th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">IVA</th>
            		</tr>
         		</thead>
      		</table>
   		</div>
   	<div class="table-container-body">
      <table class="table table-striped table-hover table-condensed table-bordered">
         <colgroup>
         	<col style="width: 50px;"></col>
            <col style="width: 200px;"></col>
            <col style="width: 200px;"></col>
            <col style="width: 200px;"></col>
            <col style="width: 200px;"></col>
            <col style="width: 200px;"></col>
            <col style="width: 200px;"></col>
            <col style="width: 200px;"></col>
         </colgroup>
         <tbody>
            <tr ng-repeat="item in dataRegistroComprobante" class="fila_{{item.id}}">
            	<td style="width: 50px;"><a href="" ng-click="eliminarFila()""><span class="glyphicon glyphicon-minus edita_css" aria-hidden="true"></span></a></td>
               <td style="width: 200px;"><a href="" ng-click="buscarFila(item.id)""><span class="glyphicon glyphicon-search edita_css" aria-hidden="true"></span></a><input type="text" name="" value="{{item.cod_cuenta}}"></td>
               <td style="width: 200px;"><input type="text" name="" value="{{item.nom_cuenta}}"></td>
               <td style="width: 200px;"><input type="text" name="" value="" class="debe_bs_{{item.id}}" ng-model="item.debe_bs"></td>
               <td style="width: 200px;"><input type="text" name="" value="" class="haber_bs_{{item.id}}" ng-model="item.haber_bs"></td>
               <td style="width: 200px;"><input type="text" name="" class="debe_sus_{{item.id}}" ng-model=" item.debe_sus = (item.debe_bs / selectedTipoCambio.tc_venta) | number: 2" readonly="readonly"></td>
               <td style="width: 200px;"><input type="text" name="" class="haber_sus_{{item.id}}" ng-model="(item.haber_sus = item.haber_bs / selectedTipoCambio.tc_venta) | number: 2" readonly="readonly"></td>
               <td style="width: 200px;" class="text-center {{hide_traspaso}}"><input type="checkbox" name=""></td>
            </tr>
            <tr>
               <td style="width: 50px;"><a href="" ng-click="agregarFila()""><span class="glyphicon glyphicon-plus edita_css" aria-hidden="true"></span></a></td>
               <td style="width: 200px;"></td>
               <td style="width: 200px;"></td>
               <td style="width: 200px;"></td>
               <td style="width: 200px;"></td>
               <td style="width: 200px;"></td>
               <td style="width: 200px;"></td>
               <td style="width: 200px;"></td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="table-container-footer">
      <table class="table table-striped table-hover table-condensed table-bordered">
         <tfoot>
            <tr>
            	<th class="border-1-white"></th>
               <th class="border-1-white"></th>
               <th class="border-1-white border-1" style="border-right: 1px solid #337AB7;">Totales</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">{{suma_debe_bs() | number: 2}}</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">{{suma_haber_bs() | number: 2}}</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">{{suma_debe_sus() | number: 2}}</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">{{suma_haber_sus() | number: 2}}</th>

               <th class="border-1-white"></th>
            </tr>
            <tr>
            	<th class="border-1-white"></th>
               <th class="border-1-white"></th>
               <th class="border-1-white border-1" style="border-right: 1px solid #337AB7;">Diferencia</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">Debe (Bs.)</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">Haber (Bs.)</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">Debe ($us.)</th>
               <th class="border-1-white border-1" style="border: 1px solid #337AB7;">haber ($us.)</th>

               <th class="border-1-white"></th>
            </tr>
         </tfoot>
      </table>
   </div>
</div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">{{titulo_0}}</h4>
      </div>
      <div class="modal-body">
      <div class="col-md-12 padding-20 padding-0-xy">Buscar: <input type="search" ng-model="buscar" placeholder="Escriba para buscar" aria-label="Escriba para buscar..." title="Escriba..."/></div>
      	<div class="table-container">
   		<div class="table-container-header">
      		<table class="table table-striped table-hover table-condensed table-bordered">
         		<thead>
            		<tr>
            			<th style="width: 50px;" class="background-blue letter-white text-center"></th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">Código</th>
               			<th style="width: 200px;" class="background-blue letter-white text-center">Nombre de cuenta</th>
            		</tr>
         		</thead>
      		</table>
   		</div>
   	<div class="table-container-body">
      <table class="table table-striped table-hover table-condensed table-bordered">
         <colgroup>
         	<col style="width: 50px;"></col>
            <col style="width: 200px;"></col>
            <col style="width: 200px;"></col>
         </colgroup>
         <tbody>
            <tr ng-repeat="item in dataCuenta | filter:buscar as results">
            	<td style="width: 50px;"><a href="" ng-click="pushCuenta(item.cod_cuenta , item.nom_cuenta, id_fila_detalle)"><span class="glyphicon glyphicon-ok edita_css" aria-hidden="true"></span></a></td>
               <td style="width: 200px;">{{item.cod_cuenta}}</td>
               <td style="width: 200px;">{{item.nom_cuenta}}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="table-container-footer">
      <table class="table table-striped table-hover table-condensed table-bordered">
         <tfoot>
            <tr>
            	<th class="border-1-white"></th>
               <th class="border-1-white"></th>
               <th class="border-1-white"></th>
            </tr>
         </tfoot>
      </table>
   </div>
</div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
	var $body = $(".table-container-body"),
    $header = $(".table-container-header"),
    $footer = $(".table-container-footer");

// Get ScrollBar width(From: http://bootstrap-table.wenzhixin.net.cn/)
var scrollBarWidth = (function () {
        var inner = $('<p/>').addClass('fixed-table-scroll-inner'),
            outer = $('<div/>').addClass('fixed-table-scroll-outer'),
            w1, w2;
        outer.append(inner);
        $('body').append(outer);
        w1 = inner[0].offsetWidth;
        outer.css('overflow', 'scroll');
        w2 = inner[0].offsetWidth;
        if (w1 === w2) {
            w2 = outer[0].clientWidth;
        }
        outer.remove();
        return w1 - w2;
})();

// Scroll horizontal
$body.on('scroll', function () {
    $header.scrollLeft($(this).scrollLeft());
    $footer.scrollLeft($(this).scrollLeft());
});

// Redraw Header/Footer
var redraw = function() {
    var tds = $body.find("> table > tbody > tr:first-child > td");
    tds.each(function (i) {
        var width = $(this).innerWidth(),
            lastPadding = (tds.length -1 == i ? scrollBarWidth : 0);
        lastHeader = $header.find("th:eq("+i+")").innerWidth(width + lastPadding);
        lastFooter = $footer.find("th:eq("+i+")").innerWidth(width + lastPadding);
    });
};

// Selection
$body.find("> table > tbody > tr > td").click(function(e) {
    $body.find("> table > tbody > tr").removeClass("info");
    $(e.target).parent().addClass('info');
});

// Listen to Resize Window
$(window).resize(redraw);
redraw();
</script>