<div class="col-md-12 table-responsive">
	<table class="table border-1">
		<thead>
			<tr>
				<th colspan="7" class="text-center border-1">REGISTRO DE MAYOR</th>
			</tr>	
			<tr>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">CÓDIGO</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">11101</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">CUENTA</th>
				<th colspan="2" class="text-center border-1-white background-blue letter-white">CAJA</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">Nro.</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">1</th>
			</tr>
			<tr>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">FECHA</th>
				<th colspan="2" class="text-center border-1-white background-blue letter-white">DETALLE</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">COMP</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">DEBE</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">HABER</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">SALDO</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="1" class="text-center border-1">02/08/2007</td>
				<td colspan="2" class="text-center border-1">Por el inicio de actividades</td>
				<td colspan="1" class="text-center border-1">CDT1</td>
				<td colspan="1" class="text-center border-1">840,00</td>
				<td colspan="1" class="text-center border-1"></td>
				<td colspan="1" class="text-center border-1">840</td>
			</tr>
			<tr>
				<td colspan="1" class="text-center border-1">08/08/2007</td>
				<td colspan="2" class="text-center border-1">Por el retiro de dinero del Banco Nacional</td>
				<td colspan="1" class="text-center border-1">CDT2</td>
				<td colspan="1" class="text-center border-1">2000,00</td>
				<td colspan="1" class="text-center border-1"></td>
				<td colspan="1" class="text-center border-1">2840,00</td>
			</tr>
		</tbody>
	</table>

</div>