<div class="col-md-6 text-center letter-big letter-blue">LIBRO MAYOR</div>
<div class="col-md-6 text-center letter-blue"><div class="col-md-6">Buscar: </div> <div class="col-md-6"><input type="text" class="form-control" name="" ng-model = "buscar" placeholder="Escriba nombre cuenta..."></div></div>
<div class="col-md-12 margin-20 padding-20">

<div class="col-md-12 table-responsive" ng-repeat ="item in formDataInterfaz | filter:buscar as results">
	<table class="table border-1">
		<thead>
			<tr>
				<th colspan="7" class="text-center border-1">REGISTRO DE MAYOR</th>
			</tr>	
			<tr>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">CÓDIGO</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white	">{{item['value'][0]['cod_cuenta']}}</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">CUENTA</th>
				<th colspan="2" class="text-center border-1-white background-blue letter-white">{{item['value'][0]['nom_cuenta']}}</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">Nro.</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">{{item['id']}}</th>
			</tr>
			<tr>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">FECHA</th>
				<th colspan="2" class="text-center border-1-white background-blue letter-white">DETALLE</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">COMP</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">DEBE</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">HABER</th>
				<th colspan="1" class="text-center border-1-white background-blue letter-white">SALDO</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="subitem in item.value">
				<td colspan="1" class="text-center border-1">{{subitem.fecha_comp}}</td>
				<td colspan="2" class="text-center border-1">{{subitem.detalle_ldd}}</td>
				<td colspan="1" class="text-center border-1">{{subitem.sigla_comp}}</td>
				<td colspan="1" class="text-center border-1">{{subitem.debe_bs}}</td>
				<td colspan="1" class="text-center border-1">{{subitem.haber_bs}}</td>
				<td colspan="1" class="text-center border-1">{{subitem.saldo_lm}}</td>
			</tr>
		</tbody>
	</table>

</div>