<div class="col-md-12">
	<div class="col-md-6 text-center letter-big letter-blue ">{{titulo}}</div>
	<div class="col-md-6 text-center">
		<div class="col-md-6 text-center">PERIÓDO FISCAL</div>
	    <div class="col-md-6 text-center">
        	<select class="form-control background-select" ng-options="option.gestion_ccontable for option in formDataInterfazCicloContable track by option.idCicloContable" ng-model="selectGestion" ng-change="hasChangedCicloContable()"></select>
      	</div>
	</div>

	<div class="col-md-8 margin-20">NOMBRE O RAZON SOCIAL <input type="text" name="" class="text-center" ng-model= "formDataInterfazPrimera.nom_fuente"></div>
	<div class="col-md-4 margin-20">NIT <input type="text" name="" class="text-center" ng-model= "formDataInterfazPrimera.cod_fuente"></div>

	<div class="col-md-12 table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th colspan="8" class="text-center border-1-white background-blue letter-white"></th>
					<th colspan="5" class="text-center border-1-white background-blue letter-white">CIFRAS EN BOLIVIANOS</th>
				</tr>
				<tr>
					<th colspan="3" class="text-center border-1-white background-blue letter-white">FECHA</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">Nro. NIT DEL COMPRADOR</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">NOMBRE O RAZON SOCIAL DEL COMPRADOR</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">Nro. DE FACTURA</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">Nro. DE AUTORIZACION</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">CODIGO DE CONTROL</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">TOTAL FACTURA (A)</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">TOTAL I.C.E. (B)</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">IMPORTES EXENTOS "C"</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">IMPORTE NETO (A B C)</th>
					<th rowspan="2" class="text-center border-1-white background-blue letter-white">CREDITO FISCAL IVA</th>
				</tr>
				<tr>
					<th class="text-center border-1-white background-blue letter-white">D</th>
					<th class="text-center border-1-white background-blue letter-white">M</th>
					<th class="text-center border-1-white background-blue letter-white">A</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in formDataInterfazTabla">
					<td class="border-1">{{item.d}}</td>
					<td class="border-1">{{item.m}}</td>
					<td class="border-1">{{item.a}}</td>
					<td class="border-1">{{item.cod_fuente}}</td>
					<td class="border-1">{{item.nom_fuente}}</td>
					<td class="border-1">{{item.nro_factura}}</td>
					<td class="border-1">{{item.nro_autorizacion}}</td>
					<td class="border-1">{{item.cod_control}}</td>
					<td class="border-1">{{item.total_factura}}</td>
					<td class="border-1">{{item.total_ice}}</td>
					<td class="border-1">{{item.total_exento}}</td>
					<td class="border-1">{{item.importe_neto}}</td>
					<td class="border-1">{{item.fiscal}}</td>
				</tr>

				<tr>
					<td rowspan="2" colspan="3" class="border-1">CI <br>{{formDataInterfazPrimera.ci_usu}}</td>
					<td rowspan="2" colspan="3" class="border-1">Nombre completo<br>{{formDataInterfazPrimera.nombres_usu}} {{formDataInterfazPrimera.apellidos_usu}}</td>
					<td colspan="2">Totales parciales</td>
					<td class="border-1">{{suma_total_factura()}}</td>
					<td class="border-1">{{suma_total_ice()}}</td>
					<td class="border-1">{{suma_importe_exento()}}</td>
					<td class="border-1">{{suma_importe_neto()}}</td>
					<td class="border-1">{{suma_total_iva()}}</td>
				</tr>
				<tr>
					<td colspan="2" class="border-1">Totales generales</td>
					<td class="border-1">{{suma_total_factura()}}</td>
					<td class="border-1">{{suma_total_ice()}}</td>
					<td class="border-1">{{suma_importe_exento()}}</td>
					<td class="border-1">{{suma_importe_neto()}}</td>
					<td class="border-1">{{suma_total_iva()}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>