<!DOCTYPE html>
<html ng-app="administra">
<head>
  <title>SISTEMA CONTABLE</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.min.css">

    <link rel="stylesheet" media="screen" href="css/style.custom.index.css">
    <!-- scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angularjs.min.js"></script>
    <script type="text/javascript" src="js/jquery.md5.js"></script>
    <script type="text/javascript" src="js/controller.index.js"></script>
  
  </head>
<body ng-controller="Ctrl_administra" class="position_fixed" oncontextmenu="return true">
<!-- particles.js container -->

<div class="login">
    <h1>SISTEMA CONTABLE</h1>
    <form name="myForm" >
      <input type="text" class='nombre_reg' placeholder='Nombre Usuario' 
            name='name' data-ng-model='formData.name' required 
            data-ng-class='{ error: myForm.name.$invalid && !myForm.$pristine }'>
            <span class="white" data-ng-show="!myForm.$pristine && myForm.name.$error.required">Usuario es requiredo!!!.</span>
        <input type="password" class='pass_reg' placeholder='Contraseña Usuario' 
            name='password' data-ng-model='formData.password' required
            data-ng-class='{ error: myForm.password.$invalid && !myForm.$pristine }'>
            <span class="white" data-ng-show='!myForm.$pristine && myForm.password.$error.required'>Contraseña es requiredo!!!.</span>
        <button type="submit" class="btn btn-primary btn-block btn-large" data-ng-click='submitForm(formData)' data-ng-disabled='!myForm.$valid'>ENTRAR</button>
    </form>
    <br>
    

</div>

<!-- particles.js container -->
</div>
<!-- particles.js container -->
<!-- Modal -->
<div id="myModalUser" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <p>El usuario o la contradeña no es correcta.</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn_afirmativo" ng-click="restaurar()">Aceptar</a>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModalRecupera" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">Olvide mi contraseña</h4>
      </div>
      <div class="modal-body">
        <p>Coloque el nombre de usuario, se le enviara su contraseña a su correo electronico.</p>
        <input type="text" name="nombre_usuario" class="nombre_usuario_modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_afirmativo" ng-click="usuario_recupera_modal()">Aceptar</button>
        <button type="button" class="btn btn_afirmativo" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>
</body>
</html>